.card {
  margin-bottom: 60px;
}

.cardbody {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.contactinfo {
  display: flex;
  justify-content: space-between;
}

.contactinfo .social {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
}

.contactinfo .social a:nth-child(1) {
  color: orange;
  margin-right: 10px;
}

.contactinfo .social a:nth-child(2) {
  color: rgb(0, 77, 128);
  margin-right: 10px;
}

.contactinfo .social a:nth-child(3) {
  color: gb(82, 102, 167);
  margin-right: 10px;
}

.contactinfo .social a:hover {
  transform: skew(8deg);
}

.cardheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardheader h3 {
  font-family: Lobster, cursive;
  padding: 10px;
  margin: 10px;
}

.cardheader img {
  width: 15%;
  height: 15%;
  border-radius: 80px;
  padding: 5px;
}

.commentsAndLikes {
  /* padding: 15px; */
  display: flex;
  justify-content: space-around;
}

.contactinfo .userbt {
  width: 85px;
  height: 30px;
  cursor: hand;
  border-radius: 100%;
  font-size: 1.2rem;
  color: black;
  background-color: rgb(226, 229, 226);
}

.contactinfo .userbt:hover {
  color: grey;
  box-shadow: 0 0.125rem 0.5rem grey;
}

.dateposted {
  display: flex;
  flex-flow: column;
  color: grey;
  text-align: end;
}

.showpostbtn {
  border-radius: 5px;
  justify-content: center;
}

.commentbox {
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.commentbox > * {
  margin-left: 20px;
}

.commentbox span {
  color: black;
}

span:hover {
  text-decoration: underline;
}

.nofcomments {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: black;
}

.nofcomments > * {
  margin-left: 25px;
}
.addcomments {
  cursor: pointer;
}

.likebox > * {
  margin: 10px;
}

.socialbox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cardtext {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0px auto;
  color: black;
}

.cardtext h3 {
  font-family: Lobster, cursive;
  margin-left: 20px;
  color: black;
}

.readpost {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.balloon {
  position: relative;
  background-color: #fff;
  padding: 1.125em 1.5em;
  margin-top: 20px;
  font-size: 1.25em;
  width: 95%;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.balloon img {
  max-width: 100%;
}

.balloon::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

.postcardEnd {
  background-color: black;
  color: black;
  width: 100%;
  margin-top: 100px;
}
