.nav {
  opacity: 0.9;
}

.navbar-brand img {
  height: 60px;
  width: 60px;
}

.navbar-toggler {
  display: none;
  color: black;
}

@media only screen and (max-width: 700px) {
  .navbar-toggler {
    display: block;
  }

  .btn-outline-dark {
    display: none;
  }


}

@media only screen and (min-width: 700px) {
  .btnhide {
    display: none;
  }
}

.btn-no-outline:hover {
  border-bottom: 3px solid black;

}