.navb {
  position: "sticky";
  top: 0;
  margin-bottom: 20px;
}

.mr-2 {
  background-color: white;
  display: none;
}

@media only screen and (max-width: 700px) {
  .mr-2 {
    display: block;
  }
  .btn {
    display: none;
  }
}

.loggedIn {
  height: 30px;
  width: 25%;
  margin: 10px 0;
}
.ledgreen {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}
