.detailpage {
  background-color: black;
}

.showEditForm {
  text-align: center;
  cursor: pointer;
  color: white;
  margin-top: 50px;
  padding-top: 30px;
}

.editForm {
  display: none;
}

img,
figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
