/* body {
  margin-top: 20px;
} */

.detailpage {
  background-color: black;
}

.showEditForm {
  text-align: center;
  cursor: pointer;
  color: white;
  margin-top: 50px;
  padding-top: 30px;
}

/* .headers {
  text-align: center;
  margin-top: 70px;
} */

.editForm {
  display: none;
}

/* a.card {
  text-decoration: none;
} */

img,
figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* .card-text {
  padding-top: 12px;
  color: #8c8c8c;
}

.card-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 50;
} */
