@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.scrollToTop {
  margin-top: 10px;
}

.poster img {
  height: auto;
  width: 100%;
  margin-top: -300px;
}

.postertitle {
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  white-space: nowrap;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

.blogtitle {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.row {
  min-height: 500px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
}

.col {
  display: flex;
}

.innerleftcol {
  padding: 25px;
  opacity: 0.9;
}

.intro {
  padding: 0px 20px;
  width: 70%;
  margin: auto;
}

.createposthandler {
  width: 100px;
  margin: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 40%;

}

.pagination a {
  color: black;
  padding: 10px;
  background-color: white;
}

.pagination a:active {
  color: rgb(0, 0, 8);
}

.pagination a:hover {
  color: white;
  background-color: black;
  box-shadow: 0 0 8px black;
}

.sidebar1 {
  padding: 20px;
  margin: 110px 20px 20px 10px;
  position: sticky;
  top: 150px;
  background-color: rgb(246, 248, 250);
  color: rgb(33, 35, 38);
}

.sidebar2 {
  padding: 20px;
  margin: 110px 20px 20px 10px;
  position: sticky;
  top: 430px;
  background-color: rgb(246, 248, 250);
  color: rgb(33, 35, 38);
}

.sidebarlists {
  list-style-type: none;
  text-align: left;
  padding-left: 20px;
}

.headersidebar {
  text-align: center;
  border-bottom: 2px solid rgb(99, 104, 134);
}

.contentsidebar {
  text-align: left;
  margin-top: 40px;
}

.contentsidebar ul {
  list-style-type: none;
}

.btn {
  width: 100px;
  padding: 5px;
  margin: auto;
  border-radius: 6px;
  margin-top: 10px;
}

.btn:hover {
  background-color: rgb(90, 81, 81);
  color: white;
}

.addpostform {
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 70vw;
}

/* ////MEDIA QUERY///// */
@media only screen and (max-width: 990px) {
  .row {
    display: flex;
    flex-flow: column;
  }

  .sidebar1,
  .sidebar2 {
    margin: 0px auto;
    width: 70vw;
  }

  .poster {
    margin-top: 260px;
  }

  .blogtitle {
    font-size: 0.7rem;
    top: 15%;
    left: 45%;
  }

  .postertitle {
    font-size: 1.2rem;
  }
}