.parallax {
  /* The image used */
  background-image: url("../assets//images/griffith.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.home {
  display: flex;
  box-shadow: "4px 6px 10px #95AFF9";
  width: "80%";
  margin: "0px auto";
}

.loadposts {
  flex: 2;
  margin: 15px;
  height: "auto";
}
