@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.row {
  min-height: 500px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
}

.intro {
  background-color: black;
  padding: 40px 20px;
  width: 70%;
  margin: auto;
}

.innerleftcol {
  padding: 25px;
  /* background-color: hsla(261, 92%, 47%, 0.7); */
  opacity: 0.9;
}

@media only screen and (max-width: 990px) {
  .row {
    display: flex;
    flex-flow: column;
  }

  .innerrightcol {
    margin: auto;
  }
  .poster {
    margin-top: 100px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: rgb(252, 248, 248);
  padding: 10px;
  background-color: green;
}

.pagination a:active {
  color: blue;
}

.pagination a:hover {
  color: rgb(1, 1, 12);
}

.btn {
  width: 100px;
  padding: 5px;
  margin: auto;
  border-radius: 6px;
  margin-top: 10px;
}

.btn:hover {
  background-color: rgb(90, 81, 81);
  color: white;
}

.sidebar1 {
  padding: 20px;
  margin: 110px 0px 20px 70px;
  position: sticky;
  top: 150px;
  background-color: black;
  color: white;
}
.sidebar2 {
  padding: 20px;
  margin: 110px 0px 20px 70px;
  position: sticky;
  top: 400px;
  background-color: black;
  color: white;
}

.headersidebar {
  text-align: center;
  border-bottom: 2px solid seagreen;
}
.contentsidebar {
  text-align: left;

  margin-top: 40px;
}

.contentsidebar ul {
  list-style-type: none;
}

.col {
  display: flex;
}

.poster {
  height: auto;
  margin-top: -180px;
  margin-bottom: 100px;
}

.poster img {
  height: 100%;
  width: 100%;
}

.postertitle {
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  white-space: nowrap;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

.blogtitle {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
