/* .profilepage {
  text-align: center;
  background-color: hsla(211, 91%, 18%, 0.5);
} */

.profilepage {
  background-image: url("https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80");
  background-repeat: no-repeat;
  height: 700px;
  max-width: 100%;
  text-align: center;
}

.profilepage .usercard {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 9px black;
  background-color: rgb(240, 181, 245);
  opacity: 0.7;
}

.profilepage .usercard > * {
  width: 40vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1100px) {
  .profilepage .usercard {
    width: 75%;
  }

  .profilepage .usercard > div {
    width: 100%;
  }
}

.profilepage .commentcard {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 9px black;
  background-color: rgb(240, 181, 245);
  opacity: 0.7;
}

@media only screen and (max-width: 1100px) {
  .profilepage .commentcard {
    width: 75%;
  }

  .profilepage .commentcard > div {
    width: 100%;
  }
}
