.card {
  display: flex;
  width: 70vw;
  height: auto;
  margin: auto;
  margin-bottom: 35px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px black;
}

.cardheader {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 8px #b5aba9;
}

.cardheader h3 {
  font-family: Lobster, cursive;
  padding: 10px;
  margin: 10px;
}

.cardheader img {
  width: 120px;
  height: 160px;
  border-radius: 20px;
  padding: 5px;
}

.readpost {
  display: flex;
  justify-content: center;
}

.posted {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.timediv {
  display: flex;
  color: grey;
}

.showpostbtn {
  border-radius: 5px;

  justify-content: center;
}

.cardtext {
  margin-bottom: 20px;
  margin: 10px;
  padding: 30px;
  color: black;
  border-radius: 8px;
  box-shadow: 0 3px 8px #b5aba9;
}

.cardfooter {
  margin: 10px;
  box-shadow: 0 3px 8px #b5aba9;
}

.commentbox {
  color: #9e9a99;
}

.commentbox > * {
  margin-left: 20px;
}

.likebox > * {
  margin: 10px;
}

.socialbox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
