.App {
  margin-top: 75px;
}
/* 
body {
  background: #614385;
  background: -webkit-linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #000000, #516395, #434343);

  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1em;
} */
