@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.container {
  width: 65vw;
  height: 400px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.content {
  width: 95%;
  height: auto;
  position: relative;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

Form p {
  font-size: 1rem;
}

Form span {
  color: red;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  color: #020202;
  border: none;
  border-bottom: 3px solid rgb(238, 175, 175)
}

input:hover {
  opacity: 1;
  color: green;
}

input:focus {
  outline: none;
}

.frg-password {
  text-decoration: none;
  color: #e74c3c;
}

.frg-password:hover {
  color: black;
}

.frg-password:visited {
  color: #e74c3c;
}

.login {
  width: 100%;
  height: 30px;
  border: none;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  color: #e74c3c;
  box-shadow: 0 4px 10px rgb(3, 1, 1);
}

.login:hover {
  background: #e74c3c;
  color: #ecf0f1;
  cursor: pointer;
}

.media {
  width: 100%;
  height: 30px;
  border: none;
  margin: 5px 0;
  border-radius: 25px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.media:hover {
  opacity: 1;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.led {
  display: flex;
}

.ledgreen {
  margin: 0 auto;
  width: 24px;
  color: white;
  height: 24px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}

.loggedIn {
  height: 30px;
  width: 25%;
  margin: 10px 0;
}

.ledred {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  color: white;
  background-color: #f00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}